
.botao{
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0); 
    border-style: solid;
    color: #000;
    font-size: 120%;
    border-radius: 15px;
    cursor: pointer;

    width: 86px;
    height: 45px;
    margin-top: 10px;
    margin-left: 1%;
    /*display: block;
    margin: 0 auto;*/
}
/*O alling- content alinha as divs verdicalmente

justify-content alinha as divs horisontalmente*/
.botao:hover{
    background-color: #000;
    color: rgb(253, 253, 253);
    border-color: #000;

    transition-duration: 700ms;
    transition-timing-function: ease-in-out ;
    /*de fora para dentro a transição de cores*/
}

.contato {
    margin: 0 auto;
    width: 50%;
    
    
    margin-top: 55px;

}/*
.contato > form > input[type="text"], input[type="email"], input[type="textarea"] {
    width: 100%;
}*/
.input{
    text-align: center;


}
.card h2{
    text-align: center;
}

#contato {

    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    height: 100vh;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    #destino {

        display: flex;
        
        align-items: center;
        
        justify-content: center;
        
        height: 100vh;
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        }
    
    .card {
    
    background-color: rgba(255, 255, 255, 0.993);
    
    padding: 40px;
    
    border-radius: 2px;
    
    width:459px;
      box-shadow: 0 9px 25px #000000, 0 15px 12px rgba(0,0,0,0.22);
    
    }
    
    .card-header {
    
    padding-bottom: 10px;
    
    opacity: 0.8;
    
    color: #341940;
    
    }
    
    
    
    .card-content label {
    
    color: #341940;
    
    font-size: 12px;
    
    opacity: 0.8;
    
    }
    
    .card-content-area {
    
    display: flex;
    
    flex-direction: column;
    
    padding:10px 0;
    
    
    
    }
    .card-content-area input{
        
        height: 27px;
    }
    
    .card-content-area area{
       
        height: 27px;
    }
    
    .card-footer {
    
    display: flex;
    
    flex-direction: column;
    
    }
    
  
    
    .card-footer a {
    
    text-align: center;
    
    font-size: 12px;
    
    opacity: 0.8;
    
    color: #341940;
    
    text-decoration: none;
    
    }
    .card-header h2{
        text-align: center;
        color: #341940;
    }



    /**/


    .container-box {
        width: 100%;
        height: 100%;
        max-width: 1046px;
        margin: 0 auto;
        display: grid;
        gap: 10px;
        grid-template-columns: 50%;
        grid-template-rows: 224px 19px 25vh;
            grid-template-areas:
            'bla bla bla'
            'article article article '
            'footer footer footer';    
    
    }