@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.cont {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 89px;
 
}
.cards {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px #D8D8D8;
  overflow: hidden;
  width: 300px;
}
.cards:hover{
  transform: scale(1.05);
}
.cards-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.cards-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;

  align-items: center;
  
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}


.cards-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.cards-body h4{
    font-size: x-large;
}
.cards-body h5{
    font-size: 13px;
    margin: 0 0 40px;
    text-decoration: line-through;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}


@media screen and (max-width: 700px){
  .cont{
    display: flex;
   width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 112px;
  }
}

.btnbotao{
  align-content: center;
  background-color: rgb(255, 255, 255);
  border-color: #260120;
  border-style: solid;
  color: #260120;
  font-size: 120%;
  border: 0.1rem solid #260120;

  border-radius: 1.7rem;
  cursor: pointer;
  width: 191px;
  height: 35px;
  margin-top: 1px;
  margin-left: 1%;

  /*display: block;
  margin: 0 auto;*/
}
/*O alling- content alinha as divs verdicalmente

justify-content alinha as divs horisontalmente*/
.btnbotao:hover{
  background-color: #260120;
  color: rgb(253, 253, 253);
  border-color: #260120;

  transition-duration: 700ms;
  transition-timing-function: ease-in-out ;
  /*de fora para dentro a transição de cores*/
}

