html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; background:transparent;
  /*vertical-align: baseline;*/
}

/* lists */
.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

/* floats */
.float-l { float: left; }
.float-r { float: right; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  
}

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #260120 ;
  z-index: 2;
  box-shadow: 0 5px 0px #00000000, 0 8px 12px rgb(0 0 0 / 36%);
}

header h1 {
  padding: 10px 0 0 10px;
}

header h1 a {
  color: #F4F0F4;; 
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  
}
a:hover{
    text-decoration: none;
    color: #000000  ;
}

header ul {
  padding: 15px 10px 0 0;
}



header li:first-child {
  border: none;
}

header li a {
  display: block;
  padding: 0 10px;
  color: #F4F0F4;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 500;
  font-family: system-ui;
}


header li a:hover {
  color: #333;
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}




@media screen and (max-width: 767px) {
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    
    background: #260120;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
   
    border-width: 0 0 1px;
  }

  header li a {
    padding: 15px 10px;
  }

  header li a:hover {
    background-color: #ccc;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #fff;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #F4F0F4;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 20px;
    line-height: 40px;
  }
}
a:not([href]):not([tabindex]) {
  color: #fff;
  text-decoration: none;
}