.banner{
    height: 82vh;
    background: url("mapa.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1000;
    
  }
  .body{
    display: list-item !important;

  }

